<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="..\static\css\Login.css" th:href="@{/css/Login.css}">
  <title>TODO管理ユーザプロフィール画面</title>
</head>
<header class="header">
  <p class="title">プロフィール</p>
  <br>
</header>
<body>
  <div class="center">
    <form action="edit" method="POST">
      <div class="name">お名前</div>
      <div class="div"><input type="text" class="text-form1" th:value="${user.userName}" readonly></div>
      <div class="mailaddress">メールアドレス</div>
      <div class="div"><input type="text" class="text-form1" th:value="${user.mailaddress}" readonly></div>
      <button type="button" class="buttonBase button4" onclick="location.href='/todo/todoList'">戻る</button>
      <button class="buttonBase button3">編集</button>
    </form>
  </div>
</body>
</html>