header {
	width: 100%;
	height: 100px;
	margin-top: -8px;
	margin-left: -8px;
	background: #b3d874;
}

body {
	width: 100%;
}

h2 {
	text-align: center;
	font-size: 40px;
	margin: 10px;
}

hr {
	border: 1px solid #ddd;
	border-radius: 6px;
}

.p {
	font-size: 20px;
	color: red;
	margin-bottom: -20px;
}

.title {
	float: left;
	font-size: 60px;
	margin: 10px;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.button {
	appearance: none;
	border: 0;
	border-radius: 5px;
	color: #fff;
	background: #4676D7;
	cursor: pointer;
}

.button:hover {
	background: #1d49aa;
}

.button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
}

.button1 {
	border-radius: 6px;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 280px;
	display: block;
	letter-spacing: 0.05em;
	background: #5bc8ac;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.button1:hover {
	background: #00AA00;
}

.button1:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
}

.button2 {
	margin-right: 15px;
	background: #696969;
}

.button3 {
	margin-bottom: -15px;
	background: #696969;
}

.button4 {
	margin-left: 40px;
	margin-right: -20px;
	margin-top: -1px;
	margin-bottom: -8px;
	background: #696969;
}

.linebreaks {
	display: inline-block;
}

.seachForm {
	position: relative;
	margin-bottom: 72px;
}

.seach {
	outline: 0;
	height: 40px;
	padding: 0 10px;
	position: absolute;
	left: 0;
	top: 0;
	width: 230px;
	max-width: 270px;
	border-radius: 2px;
	background: #eee;
}

.seachButton {
	width: 70px;
	height: 40px;
	position: absolute;
	left: 240px;
	top: 0;
	border-radius: 2px;
	background: #7fbfff;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.seachButton:hover {
	background: #eee;
	color: #7fbfff;
}

.seach2 {
	margin-top: 10px;
	margin-left: 350px;
}

.div {
	text-align: right;
	margin-top: -70px;
}

.div2 {
	margin-left: -5px;
	margin-top: 5px;
	margin-bottom: -20px;
}

.text-form1 {
	height: 2.6em;
	width: 350px;
	padding: 1 16px;
	border-radius: 4px;
	border: none;
	box-shadow: 0 0 0 1px #ccc inset;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.text-form1:focus {
	outline: 0;
	box-shadow: 0 0 0 2px #000 inset;
}

.textarea {
	margin-left: 10px;
	word-break: break-all
}

.table_box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-collapse: collapse;
	width: 900px;
	border-collapse: separate;
	border-spacing: 0;
	word-break: break-all
}

table th:first-child {
	border-radius: 6px 0 0 0;
}

table th:last-child {
	border-radius: 0 6px 0 0;
	border-left: 0.6px solid #ffffff;
}

table th {
	text-align: center;
	color: white;
	background: linear-gradient(#86ace2, #0065f4);
	border-left: 0.3px solid #ffffff;
	padding: 5px 0;
}

table td {
	text-align: center;
	border-left: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	border-top: none;
	box-shadow: 0px -3px 8px 1px #eee inset;
	width: 6%;
	padding: 10px 0;
}

table tr td:nth-child(3) {
	width: 8%;
}

table tr td:nth-child(4) {
	width: 20%;
	text-align: left;
}

table td:last-child {
	border-right: 1px solid #c3c3c3;
}

table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

.ECM_CheckboxInput {
	padding: 1px 1px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.ECM_CheckboxInput-Input {
	margin: 0;
	width: 0;
	opacity: 0;
}

.ECM_CheckboxInput:hover>.ECM_CheckboxInput-DummyInput {
	transform: scale(1.1);
}

.ECM_CheckboxInput-Input:focus+.ECM_CheckboxInput-DummyInput {
	transform: scale(1.1);
}

.ECM_CheckboxInput-Input:checked+.ECM_CheckboxInput-DummyInput {
	background: #1BE12F;
}

.ECM_CheckboxInput-Input:checked+.ECM_CheckboxInput-DummyInput::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 35%;
	height: 4px;
	border-radius: 2px;
	transform: translate(-6px, 5px) rotateZ(-135deg);
	transform-origin: 2px 2px;
	background: #FFFFFF;
}

.ECM_CheckboxInput-Input:checked+.ECM_CheckboxInput-DummyInput::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 4px;
	border-radius: 2px;
	transform: translate(-6px, 5px) rotateZ(-45deg);
	transform-origin: 2px 2px;
	background: #FFFFFF;
}

.ECM_CheckboxInput-DummyInput {
	position: relative;
	top: 0;
	left: 37;
	display: block;
	width: 25px;
	height: 25px;
	border: solid 2px transparent;
	background: rgba(0, 0, 0, .15);
	border-radius: 50%;
	transition: all .15s linear;
}

.ECM_CheckboxInput-LabelText {
	margin-left: 12px;
	display: block;
	font-size: 18px;
	font-weight: bold;
}

.Form {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
}

.Form-Item {
	border-top: 1px solid #ddd;
	padding-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	display: flex;
	align-items: center;
}

.Form-Item:nth-child(5) {
	border-bottom: 1px solid #ddd;
}

.Form-Item-Label {
	width: 100%;
	max-width: 248px;
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 18px;
}

.Form-Item-Label.isMsg {
	margin-top: 8px;
	margin-bottom: auto;
}

.Form-Item-Label-Required {
	border-radius: 6px;
	margin-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 48px;
	display: inline-block;
	text-align: center;
	background: #FF6666;
	color: #fff;
	font-size: 14px;
}

.Form-Item-Label-Arbitrary {
	border-radius: 6px;
	margin-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 48px;
	display: inline-block;
	text-align: center;
	background: #5bc8ac;
	color: #fff;
	font-size: 14px;
}

.Form-Item-Input {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 48px;
	flex: 1;
	width: 100%;
	max-width: 410px;
	background: #eaedf2;
	font-size: 18px;
}

.Form-Item-Textarea {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 150px;
	flex: 1;
	width: 100%;
	max-width: 410px;
	background: #eaedf2;
	font-size: 18px;
}