<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="..\static\css\Todo.css" th:href="@{/css/Todo.css}">
  <title>TODO管理</title>
</head>
<script src="../../js/Edit.js"></script>
<header>
  <p class="title">TODO管理</p>
  <br>
  <div class="divEdit">
    <a th:text="${todo.name}"></a>さん、ようこそ。
    <form action="../logout" method="GET">
      <button class="button button2">ログアウト</button>
    </form>
  </div>
</header>
<body>
  <br>
  <h2>編集前TODO</h2>
  <table class="table_box">
    <tr>
      <th>状況</th>
      <th>日付</th>
      <th>件名</th>
      <th>内容</th>
      <th>登録者</th>
    </tr>
    <tr>
      <td><a th:text="${check}"></a></td>
      <td><a th:text="${todo.date}"></a></td>
      <td><a th:text="${todo.title}"></a></td>
      <td><a th:text="${todo.body}"></a></td>
      <td><a th:text="${todo.name}"></a></td>
    </tr>
  </table>
  <br>
  <h2>TODO編集</h2>
  <div class="Form">
    <form th:action="@{/todo/edit}" th:object="${TodoForm}" method="POST">
      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>日付</p>
        <input type="date" name="date" class="Form-Item-Input" th:value="${todo.date}" required>
      </div>
      <div class="Form-Item">
         <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>件名</p>
         <input type="text" name="title" class="Form-Item-Input" th:value="${todo.title}" required>
      </div>
      <div class="Form-Item">
        <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Arbitrary">任意</span>内容</p>
        <input type="hidden" id="body" th:value="${todo.body}">
        <textarea class="Form-Item-Textarea" name="body" id="bodyArea" rows="5" cols="40"></textarea>
      </div>
      <hr>
      <div class="center">
        <p>TODOを公開しますか？<br>
        <fieldset class="radio-001 release">
          <label>
            <input type="radio" name="isRelease" value="true">公開
          </label>
          <label>
            <input type="radio" name="isRelease" value="" checked>非公開
          </label>
        </fieldset>
      </div>
      <input type="hidden" name="id" th:value="${todo.id}">
      <button class="button5 button5-1">完了</button>
    </form>
    <form action="todoList" method="GET">
      <button class="button5 button5-2">戻る</button>
    </form>
  </div>
</body>
</html>