<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="..\static\css\Todo.css" th:href="@{/css/Todo.css}">
  <title>TODO管理</title>
</head>
<script src="../../js/Todo.js"></script>
<header>
  <p class="title">TODO管理</p>
  <br>
  <form action="seachTodo" method="GET" class="seachForm seach2">
    <input type="text" name="seach" id="seach" class="seach" th:value="${seach}" placeholder="検索...">
    <button class="seachButton">検索</button>
  </form>
  <div class="div">
    <a th:text="${userName}"></a>さん、ようこそ。
    <form action="../users/profile" method="GET">
      <button class="button button2">プロフィール</button>
    </form>
    <form action="../todo/releaseTodo" method="GET">
      <button class="button button2">公開TODO</button>
    </form>
    <form action="../logout" method="GET">
      <button class="button button2">ログアウト</button>
    </form>
  </div>
</header>
<body>
<br>
<h2>TODO一覧</h2>
  <p class="center p" th:text="${todoError}"></p>
  <table class="table_box">
    <tr>
      <th>状況</th>
      <th>
        <div class="div2">日付</div>
        <form action="dateSort" method="GET">
          <input type="hidden" name="dateSortId" id="dateSortId" th:value="${dateSortId}">
          <input type="hidden" name="seach" th:value="${seach}">
          <button class="button button4" id="dateSortButton"></button>
        </form>
      </th>
      <th>件名</th>
      <th>内容</th>
      <th>登録者</th>
      <th>操作</th>
    </tr>
    <tr th:each="todo : ${todoList}">
      <td>
        <label class="ECM_CheckboxInput">
          <input type="checkbox" name="check" class="ECM_CheckboxInput-Input" th:value="${todo.isClose}" th:onClick="|post('__${todo.id}__')|"/>
          <span class="ECM_CheckboxInput-DummyInput"></span>
          <span class="ECM_CheckboxInput-LabelText"></span>
        </label>
      </td>
      <td><a th:text="${todo.date}"></a></td>
      <td><a th:text="${todo.title}"></a></td>
      <td><a th:text="${todo.body}"></a></td>
      <td><a th:text="${todo.name}"></a></td>
      <td>
      <form action="removeTodo" method="POST" class="linebreaks">
        <input type="hidden" name="id" th:value="${todo.id}">
        <button class="button button3">削除</button><br>
      </form>
      <form action="editTodo" method="POST" class="linebreaks">
        <input type="hidden" name="id" th:value="${todo.id}">
        <button class="button button3">編集</button><br>
      </form>
      </td>
    </tr>
  </table>
<br>
<h2>TODO登録</h2>
  <div class="Form">
    <form th:action="@{/todo/addTodo}" th:object="${TodoForm}" method="POST">
      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>日付</p>
        <input type="date" name="date" class="Form-Item-Input" required>
      </div>
      <div class="Form-Item">
         <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>件名</p>
         <input type="text" name="title" class="Form-Item-Input" required>
      </div>
      <div class="Form-Item">
        <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Arbitrary">任意</span>内容</p>
        <textarea class="Form-Item-Textarea" name="body" rows="5" cols="40"></textarea>
      </div>
      <hr>
      <div class="center">
        <p>TODOを公開しますか？<br>
        <fieldset class="radio-001 release">
          <label>
            <input type="radio" name="isRelease" value="true">公開
          </label>
          <label>
            <input type="radio" name="isRelease" value="" checked>非公開
          </label>
        </fieldset>
      </div>
      <button class="button1">登録</button>
    </form>
  </div>
</body>
</html>